<div class="banner">
    <h2>Inquirita Billing</h2>
</div>

<div class="rental">
  <div class="rentalTab">
    <form id="emailForm" method="post" class="rentalTab">
        <label for="term">Terms:</label>
        <!-- <select class="form-control" required>
          <option value="">Select term (months)</option>
          <% ['1 month', '3 months', '6 months', '12 months'].forEach(function(term) { %>
            <option value="<%= term %>"><%= term %></option>
        <% }); %>        
        </select> -->

        <select class="form-control" id="termSelect" name="term" required>
            <option value="">Select term (months)</option>
            <% terms.forEach(function(term) { %>
                <option value="<%= term.termId %>" data-multiplier="<%= term.amount %>">
                    <%= term.term %>
                </option>
            <% }); %>
        </select>        

        <label for="country">Country:</label>
        <select class="form-control" id="country" required>
            <option value="">Select country</option>
            <option value="US">United States</option>
        </select>

        <label for="region">Regions:</label>
        <select id="region" class="form-control" required>
          <option value="">Select region</option>
          <% Object.keys(data).forEach(function(region) { %>
            <option value="<%= region %>"><%= region %></option>
          <% }); %>
        </select>

        <label for="locality">Locality:</label>
        <select id="locality" class="form-control" required>
            <option value="">Select locality</option>
        </select>

        <label for="niche">Niche:</label>
        <select class="form-control" id="niche" required>
            <option value="">Select niche</option>
            <% locniPricing.forEach(function(item) { %>
                <option value="<%= item.locniId %>" data-base-price="<%= item.amount %>">
                    <%= item.locniType %> - US$<%= item.amount %>
                </option>
            <% }); %>
        </select>

        <label for="customerEmail">Select a Customer to Send an Email:</label>
        <select class="form-control" id="customerEmail" name="customerEmail" required>
            <option value="">Select a Customer</option>
            <% customers.forEach(function(customer) { %>
                <option value="<%= customer.EmailAddress %>"><%= customer.CustomerName %> - <%= customer.EmailAddress %></option>
            <% }); %>
        </select>

        <button class="btn-search" type="submit">Add</button>
    </form>
</div>

<form id="modal" class="modal" action="/send-email" method="post" style="display:none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="modal-title">
                <h2>Order Summary</h2>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-row">
                <span class="label">Term Selected:</span>
                <span class="value" id="modalTerm"></span>
            </div>
            <div class="modal-row">
                <span class="label">Region:</span>
                <span class="value" id="modalRegion"></span>
            </div>
            <div class="modal-row">
                <span class="label">Niche:</span>
                <span class="value" id="modalNiche"></span>
            </div>
            <div class="modal-row">
                <span class="label">Locality:</span>
                <span class="value" id="modalLocality"></span>
            </div>
        </div>
        <div class="modal-footer">
            <!-- Add hidden inputs inside the form for term, region, niche, and locality -->
            <input type="hidden" name="term" id="hiddenTerm">
            <input type="hidden" name="region" id="hiddenRegion">
            <input type="hidden" name="niche" id="hiddenNiche">
            <input type="hidden" name="locality" id="hiddenLocality">
            <input type="hidden" id="hiddenSubtotal" name="subtotal">

            <div class="modal-row modal-email">
                <span class="label">Customer Email:</span>
                <span class="value" id="modalCustomer"></span>
                 <!-- Hidden input to hold the email -->
                <input type="hidden" id="modalCustomerEmail" name="customerEmail" value="">
            </div>
            <div class="modal-row modal-subtotal">
                <span class="label">Subtotal:</span>
                <span class="value" id="modalSubtotal"></span>
            </div>
            <button class="btn-search modal-btn" type="submit">Confirm and Send Email</button>
        </div>
    </div>
</form>



<div id="termsData" style="display:none;" data-terms='<%= JSON.stringify(terms) %>'></div>

<div id="serverData" data-all-data='<%- JSON.stringify(data) %>' style="display:none;"></div>


