<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent a Locni Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    
    <nav class="header">
        <a href="/" class="header-brand">Inquirita</a>
    </nav>
    <div class="banner">
        <h2>Inquirita Billing</h2>
    </div>
    <div class="rental">
      <div class="rentalTab">
        <label for="term">Terms:</label>
        <select class="form-control" onchange="fetchTerms(this.value)">
          <option disabled value="">Select term (months)</option>
          <% ['1 month', '3 months', '6 months', '12 months'].forEach(function(term) { %>
            <option value="<%= term %>"><%= term %></option>
        <% }); %>        
        </select>

        <label for="term">Country:</label>
        <select class="form-control" id="country">
            <option value="">Select country</option>
            <option value="US">United States</option>
        </select>

        <label for="term">Regions:</label>
        <select class="form-control" onchange="fetchRegions(this.value)">
          <option value="">Select region</option>
          <% Object.keys(data).forEach(function(region) { %>
          <option value="<%= region %>"><%= region %></option>
          <% }); %>
        </select>

        <label for="term">Locality:</label>
        <select class="form-control" id="locality">
            <option value="">Select locality</option>
            <% Object.keys(data).forEach(function(locality) { %>
            <option value="<%= locality %>"><%= locality %></option>
            <% }); %>
        </select>

        <label for="term">Niche:</label>
        <select class="form-control" id="niche">
            <option value="">Select niche</option>
            <% Object.keys(data).forEach(function(niche) { %>
            <option value="<%= niche %>"><%= niche %></option>
            <% }); %>
        </select>

        <button class="btn-search" onclick="searchRental()">Search Rentals</button>
    
        <script src="/js/region-handler.js"></script>
    </body>
</html>
