<div class="banner">
    <h2>Inquirita Billing</h2>
</div>

<div class="rental">
  <div class="rentalTab">
    <form id="emailForm" action="/send-email" method="post" class="rentalTab">
        <label for="term">Terms:</label>
        <!-- <select class="form-control" required>
          <option value="">Select term (months)</option>
          <% ['1 month', '3 months', '6 months', '12 months'].forEach(function(term) { %>
            <option value="<%= term %>"><%= term %></option>
        <% }); %>        
        </select> -->

        <select class="form-control" id="termSelect" name="term" required onchange="updateAmount()">
            <option value="">Select term (months)</option>
            <% terms.forEach(function(term) { %>
                <option value="<%= term.term %>" data-amount="<%= term.amount %>">
                    <%= term.term %> - US$<%= term.amount %>
                </option>
            <% }); %>
        </select>        

        <label for="country">Country:</label>
        <select class="form-control" id="country" required>
            <option value="">Select country</option>
            <option value="US">United States</option>
        </select>

        <label for="region">Regions:</label>
        <select id="region" class="form-control" required>
          <option value="">Select region</option>
          <% Object.keys(data).forEach(function(region) { %>
            <option value="<%= region %>"><%= region %></option>
          <% }); %>
        </select>

        <label for="locality">Locality:</label>
        <select id="locality" class="form-control" required>
            <option value="">Select locality</option>
        </select>

        <label for="niche">Niche:</label>
        <select class="form-control" id="niche" required>
            <option value="">Select niche</option>
            <% Object.keys(niches).forEach(function(niche) { %>
                <option value="<%= niche %>"><%= niche %></option>
            <% }); %>
        </select>

        <label for="customerEmail">Select a Customer to Send an Email:</label>
        <select class="form-control" id="customerEmail" name="customerEmail" required>
            <option value="">Select a Customer</option>
            <% customers.forEach(function(customer) { %>
                <option value="<%= customer.EmailAddress %>"><%= customer.CustomerName %> - <%= customer.EmailAddress %></option>
            <% }); %>
        </select>

        <button class="btn-search" type="submit">Add</button>
    </form>
</div>

<div id="modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Order Summary</h2>
        <div class="modal-menu">
            <p id="modalCustomer"></p>
            <p id="modalRegion"></p>
            <p id="modalNiche"></p>
            <p id="modalLocality"></p>
        </div>
        <div class="modal-subtotal">
            <p id="modalTerm"></p>
            <p id="modalSubtotal"></p> 
        </div>
        <button class="btn-search" onclick="confirmSubmission()">Confirm and Send Email</button>
    </div>
</div>


<div id="termsData" style="display:none;" data-terms='<%= JSON.stringify(terms) %>'></div>

<div id="serverData" data-all-data='<%- JSON.stringify(data) %>' style="display:none;"></div>


