<div class="invoice-content">
    <h1>Pay Your Invoice</h1>
    <p>Review your order details and proceed with the payment:</p>
    <ul>
        <li><strong>Term:</strong> <%= term %></li>
        <li><strong>Region:</strong> <%= region %></li>
        <li><strong>Niche:</strong> <%= niche %></li>
        <li><strong>Locality:</strong> <%= locality %></li>
        <li><strong>Subtotal:</strong> US$<%= subtotal %></li>
    </ul>
    <div class="pay-buttons">
        <div id="google-pay-button"></div>
        <div id="apple-pay-button"></div>

    </div>
</div>

<script src="https://pay.google.com/gp/p/js/pay.js" async onload="onGooglePayLoaded()"></script>
<script src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    if (!window.applePayLoaded) {
        const script = document.createElement('script');
        script.onload = () => {
            window.applePayLoaded = true;  // Set a flag once the script is loaded
            initializeApplePay();  // Call initialization function after script is loaded
        };
        script.src = 'https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js';
        document.head.appendChild(script);
    } else {
        // The script is already loaded; directly check for Apple Pay availability
        initializeApplePay();
    }
});
</script>
    

